<% provide(:title, "Stacks") %>

<%# this is the body in aplication.hmtl.erb and inserts into <%= yield %/> code %>
<h1>Stacks home page</h1>
<p>
  This is the home page for Stacks.
  
  <li> or <%= link_to "Sign up!", signup_url %></li>
</p>