<%# this is the body in application.hmtl.erb and inserts into <%= yield %/> code %>
<% provide(:title, "Stacks") %>

<div class="center">
  
  <h1>Stacks</h1>
  
  <h2>
      This is the home page for Stacks.
  </h2>

</div>



  
  <ul> or <%= link_to "Sign up!", signup_url %></ul>
  
<%= image_tag("chartkick.png", alt: "Chartkick placeholder", class: "center") %>