<%# this is the body in application.hmtl.erb and inserts into <%= yield %/> code %>
<% provide(:title, "Stacks") %>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<div class="center">
  <h1 class="lead large">Stacks</h1>

  <div class="container">
  	<div class="row">
      <div id="custom-search-input">
        <div class="input-group col-md-4 col-sm-offset-4">
          <input type="text" class="search-query form-control" placeholder="Enter a symbol or keyword" />
          <span class="input-group-btn">
            <button class="btn btn-danger" type="button">
              <span class="glyphicon glyphicon-search"></span>
            </button>
          </span>
        </div>
      </div>
  	</div>
  </div>
</div>

<%= image_tag("chartkick.png", alt: "Chartkick placeholder", class: "center padding") %>

<div class="center padding">
  <button type="button" class="btn btn-default btn-lg"><%= link_to "Sign up now!", signup_url %></button>
</div>