<% provide(:title, "Stacks | #{@user.name}") %>
<%# this is the user profile page %>

<h1>
  <%= @user.name %>
</h1>

<div class="lead center">
  <%= @user.email %>
</div>

<ol class="stacks">
  <%# this renders the _stack.html.erb partial %>
  <%= render @stacks %>
</ol>