@import "bootstrap";
@import "bootstrap-sprockets";

body {
  padding-top: 50px;
}

h1.large {
  font-size: 80px;
}

div.margin {
  margin-top: 150px;
  margin-bottom: 150px;
}

div.background {
  border: 1px solid #bbb;
  background-color: gainsboro;
}

h1.center {
  margin-bottom: 20px;
}

.center {  
  display: block;
  text-align: center;
  margin: 0 auto;
}

.navbar-brand {
  height: 30px;
  width: 30px;
}

footer ul {
  float: right;
}

footer {
  margin-top: 45px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

.padding {
  padding-top: 35px;
}

#logo {
  padding-top: 15px;
}

i.padding {
  padding-right: 6px;
  padding-left: 6px;
}

// homepage charts
.dashboard {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
}

// seach bar https://bootsnipp.com/snippets/featured/custom-search-input
#custom-search-input {
  margin:0;
  margin-top: 10px;
  margin-bottom: 40px;
  padding: 0;
}
 
#custom-search-input .search-query {
  padding-right: 3px;
  padding-right: 4px \9;
  padding-left: 3px;
  padding-left: 4px \9;
  /* IE7-8 doesn't have border-radius, so don't indent the padding */
 
  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
 
#custom-search-input button {
  border: 0;
  background: none;
  /** belows styles are working good */
  padding: 2px 5px;
  margin-top: 2px;
  position: relative;
  left: -28px;
  /* IE7-8 doesn't have border-radius, so don't indent the padding */
  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color:#D9230F;
}
 
.search-query:focus + button {
  z-index: 3;
}

/* mixins */
/* mixins allow groups of CSS rules to be packaged and used for multiple elements */

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;  
}

/* debug(params) box in development view */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}