@import "bootstrap";
@import "bootstrap-sprockets";

.center {
  text-align: center;
}

img.center {
  display: block;
  margin: 0 auto;
}

.center h1 {
  margin-bottom: 50px;
}

#logo {
  margin-right: 10px;
  font-size: 1.7em;
  float: left;
  font-weight: bold;
}

.navbar-brand {
  height: 30px;
  width: 30px;
}

h1 {
  text-align: center;
}

footer ul {
  float: right;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}